.body .layui-form-item .layui-inline {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 10px;
}

.confirm {
    float: left;
    width: 180vh;
    height: 100vh;
    padding: 20px;
    margin-left: 200px;
    visibility: hidden;
    position: absolute;
}